<div class="main-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-left">
                <h3>QUICK MENU</h3>
                <div class="footer-columns">
                    <div class="footer-text">
                        <ul>
                            <li><a href="#">Orcopom Group</a></li>
                            <li><a href="#">Integral Solutions</a></li>
                            <li><a href="#">Target Markets </a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Safety Culture</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Standard F@W Products</a></li>
                            <li><a href="#">Mix & Match</a></li>
                            <li><a href="#">Consulting & Design</a></li>
                            <li><a href="#">Wash & Care</a></li>
                            <li><a href="#">Measurements</a></li>
                        </ul>
                    </div>
                    <div class="footer-column-3">
                        <ul>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Policy & Service</a></li>
                            <li><a class="last-item" href="#">DYG</a></li>
                        </ul>
                        <div class="footer-soc">
                            <ul>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                                <li><a href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-right">
                <div class="footer-right-wrapper">
                    <div class="footer-contact">
                        <h3>Contact</h3>
                        <form action="#">
                            <div class="input-text">
                                <input type="email" required placeholder="Email Adress">
                            </div>
                            <div class="input-text">
                                <input type="text" required placeholder="Subject">
                            </div>
                            <div class="footer-textarea">
                                <textarea maxlength="40" required placeholder="Message"></textarea>
                                <button type="submit"></button>
                            </div>
                        </form>
                    </div>
                    <div class="footer-newsletter">
                        <h3>Newsletter</h3>
                        <form action="#">
                            <div class="input-text">
                                <input class="last-inpt" required type="email" placeholder="Email Adress">
                                <button type="submit"></button>
                            </div>
                        </form>
                        <div class="footer-phone-wrapper">
                            <h6>Contact</h6>
                            <a href="tel:+351 252 299 070"><img src="img/phone.png" alt=""></a>
                            <p>Call us from 8:30pm to 18:00pm
                                <a href="tel:+351 252 299 070">+351 252 299 070</a></p>
                            <div class="footer-soc-second">
                                <ul>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-logo">
        <div class="container">
            <div class="bottom-text">
                <div class="footer-email">© 2018 Force@work.</div>
                <div class="footer-logo"><a href="#">perto</a></div>
            </div>
        </div>
    </div>
</div>