<div class="main-header">
	<div class="container-header">
		<div class="main-header-nav">
			<div class="main-logo-wrapper">
				<a href="index.html">
					<img src="img/logotype.png" alt="">
				</a>
			</div>
			<div class="main-menu">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Orcopom Group</a></li>
					<li><a href="#">Products</a></li>
					<li><a href="#">Consuting & developement</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a class="menu-lang" href="#">En<i class="arrow-lang"></i></a>
						<div class="lang-dropdown">
							<ul>
								<li><a href="#">Es</a></li>
								<li><a href="#">De</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="main-underline-nav">
			<div class="main-underline-wrapper">
				<span>By Orcopom Group</span>
				<div class="underline-menu">
					<ul>
						<li><a href="#">Mix & Match</a></li>
						<li><a href="#">Integral Solutions</a></li>
						<li><a href="#">Safety</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="header-hamburger-menu">
			<div class="hamburger"></div>
		</div>
		<div class="header-mobile-menu">
			<ul class="header-menu-list">
				<li class="header-menu--list__item">
					<a href="/" class="header-menu-link">Home</a>
				</li>
				<li class="header-menu--list__item">
					<a href="#" class="header-menu-link">Orcopom Group</a>
				</li>
				<li class="header-menu--list__item">
					<a href="#" class="header-menu-link">Products</a>
				</li>
				<li class="header-menu--list__item">
					<a href="#" class="header-menu-link">Consuting & developement</a>
				</li>
				<li class="header-menu--list__item">
					<a href="#" class="header-menu-link">Contacts</a>
				</li>
				<li>
					<div class="header-menu-second-box">
						<ul>
							<li class="header-menu--list__item">
								<a href="#" class="header-menu-link">Mix & Match</a>
							</li>
							<li class="header-menu--list__item">
								<a href="#" class="header-menu-link">Integral Solutions</a>
							</li>
							<li class="header-menu--list__item">
								<a href="#" class="header-menu-link">Safety</a>
							</li>
							<li class="language">
								<ul>
									<li class="header-menu--list__item">
										<a href="#" class="header-menu-link active">En</a>
									</li>
									<li class="header-menu--list__item">
										<a href="#" class="header-menu-link">De</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div>