.mix-and-match {
  position: relative;
  padding-bottom: 280px;

  h1 {
    color: #f7f7f7;
    font-size: 8.5vw;
    position: absolute;
    left: -55px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
  }
  .multibrand {
    font-size: 10.6vw;
    left: 72px;
    top: 110px;
  }
  .mix-title {
    padding-top: 60px;

    span {
      max-width: 341px;
      display: block;
      color: #646464;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      position: relative;
      z-index: 1;
      text-transform: uppercase;
    }
    .multibrand-title {
      max-width: 755px;
    }

    p {
      color: #969696;
      font-size: 20px;
      font-weight: 500;
      line-height: 26px;
      max-width: 775px;
      margin-top: 15px;
      position: relative;
      z-index: 2;

      span {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        color: #ff9300;
        text-transform: none;
        display: initial;
      }
    }
    button {
      width: 212px;
      height: 40px;
      box-shadow: 0 7px 6px rgba(0, 0, 0, 0.16);
      border-radius: 20px;
      border: none;
      background-color: #ff9300;
      margin-top: 40px;
      color: #ffffff;
      z-index: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 10px;
      text-align: left;
      padding-left: 25px;
      text-transform: uppercase;
      position: relative;
      cursor: pointer;
      overflow: hidden;

      &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 5px;
        position: absolute;
        margin-right: 20px;
        margin-top: 5px;
        right: 0;
        border: 1px solid transparent;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-5px);
      }

      &:hover:before {
        border-top: 1px solid #ff9300;
        border-right: 1px solid #ff9300;
      }

      &:after{
        position: absolute;
        content: '';
        width: 0%; height: 100%;
        background-color: #ffffff;
        top: 0;  left: auto; right: 0;
        z-index: 0;
        transition: all 350ms ease;
        border-radius: 20px;
      }

      &:hover{
        color: #ff9300;
        border-radius: 20px;

        &:after{
          position: absolute;
          border-radius: 20px;
          content: '';
          width: 100%; height: 100%;
          background-color: #ffffff;
          top: 0; left: 0; right: 0;
          z-index: -1;
        }
      }
    }
    .know-more {
      text-transform: none;
      padding-right: 95px;
      margin-right: 33px;
      z-index: 0;
      position: relative;

      &:after{
        position: absolute;
        content: '';
        width: 0%; height: 100%;
        background-color: #ffffff;
        top: 0;  left: auto; right: 0;
        z-index: 0;
        transition: all 350ms ease;
        border-radius: 20px;
      }

      &:hover{
        color: #ff9300;
        border-radius: 20px;

        &:after{
          position: absolute;
          border-radius: 20px;
          border: 1px solid white;
          content: '';
          width: 100%; height: 100%;
          background-color: #ffffff;
          top: 0; left: 0; right: 0;
          z-index: -1;
        }
      }
    }
    .download-brochure {
      text-transform: none;
      color: #ff9300;
      border: 1px solid #ff9300;
      background: none;
      box-shadow: none;
      font-weight: 500;
      text-align: left;
      padding-left: 23px;
      line-height: 10px;
      overflow: hidden;
      z-index: 1;
      position: relative;

      &:before {
        border-right: 1px solid #ff9300;
        border-top: none;
        border-bottom: 1px solid #ff9300;
      }

      &:hover:before {
        border-right: 1px solid #ffffff;
        border-top: none;
        border-bottom: 1px solid #ffffff;
      }

      &:after{
        position: absolute;
        content: '';
        width: 0%; height: 100%;
        background: #ff9300;
        top: 0;  left: auto; right: 0;
        z-index: -1;
        transition: all 350ms ease;
        border-radius: 20px;
      }

      &:hover{
        color: white;
        box-shadow:none;
        border-radius: 20px;

        &:after{
          position: absolute;
          border-radius: 20px;
          content: '';
          width: 100%; height: 100%;
          background: #ff9300;
          top: 0; left: 0; right: 0;
          z-index: -1;
        }
      }
    }
  }

  img {
    position: absolute;
    right: 116px;
    top: -110px;
    z-index: 0;
  }

  .book-bottom {
    top: 50px;
  }

}

.mix-cloned {
  background: url("../img/bg-cloned.png") no-repeat;
  background-size: cover;
  padding-bottom: 150px;

  .mix-title {
    padding-top: 150px;
  }

}

@media screen and (max-width: 1700px) {

  .mix-and-match img {
    right: 0;
  }

}

@media screen and (max-width: 1366px) {

  .mix-and-match .mix-title p {
    max-width: 515px;
  }

  .mix-and-match .multibrand {
    left: 0;
  }

}

@media screen and (max-width: 1150px) {

  .mix-and-match .book-bottom {
    top: -50px;
    right: auto;
    left: 50%;
    width: 65%;
    transform: translate(-50%);
  }

  .mix-cloned .mix-title {
    padding-top: 450px;
    text-align: center;

    .multibrand-title {
      margin: auto;
    }

    p {
      margin: auto;
    }
  }

}

@media screen and (max-width: 991px) {

  .mix-and-match img {
    width: 69vw;
    top: -10px;
  }

  .mix-and-match .multibrand {
    font-size: 12.6vw;
    top: 350px;
  }

}

@media screen and (max-width: 760px) {

  .mix-and-match img {
    width: 430px;
    top: -100px;
    right: 0;
  }

  .mix-and-match h1 {
    font-size: 17vw;
    text-align: center;
    top: -130px;
    left: 0;
    line-height: 52px;
  }

  .mix-and-match .book-bottom {
    width: 85%;
  }

}

@media screen and (max-width: 600px) {

  .mix-cloned {
    padding-bottom: 108px;
  }

  .mix-and-match .multibrand {
    top: 110px;
  }

  .mix-and-match .mix-title {
    padding-top: 150px;
    text-align: center;
    max-width: unset;
  }

  .mix-and-match .mix-title .multibrand-title {
    max-width: 500px;
  }

  .mix-and-match .mix-title span {
    font-size: 35px;
    text-align: center;
    max-width: 250px;
    margin: auto;
    line-height: 35px;
  }

  .mix-and-match .mix-title p {
    max-width: 290px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    margin: 15px auto 25px;

    span {
      line-height: 18px;
      font-size: 12px;
    }
  }

  .mix-and-match .mix-title button {
    text-transform: none;
    margin-top: 10px;
    text-align: center;
    padding-left: 0;
  }

  .mix-and-match .book-bottom {
    top: -120px;
    width: 100%;
    max-width: 75%;
    left: 50%;
    transform: translate(-50%);
  }

  .mix-and-match .mix-title .know-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
  }

  .mix-and-match .mix-title .download-brochure {
    margin-top: 15px;
    text-align: center;
    padding-left: 0;
  }

}

@media screen and (max-width: 500px) {

  .mix-and-match .book-bottom {
    top: -120px;
    width: 100%;
    max-width: 75%;
    left: 50%;
    transform: translate(-50%);
  }
  .mix-and-match {
    padding-bottom: 250px;
  }

}

@media screen and (max-width: 400px) {

  .mix-and-match .book-bottom {
    top: -125px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
  }

}

@media screen and (max-width: 360px) {

  .mix-and-match .mix-title span {
    font-size: 30px;
  }

}